@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@600&display=swap");

* {
  font-family: "Space Grotesk";
}

.tekst {
  text-align: center;
  font-family: "Space Grotesk";
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  margin: 0;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes gradient {
  0% {
    background-position: 0%;
  }
  50% {
    background-position: 100%;
  }
  100% {
    background-position: 0%;
  }
}

body {
  background: linear-gradient(
    -45deg,
    #12c2e9 25%,
    #c779d0 50%,
    #91eae4 75%,
    #86a8e7 100%
  );
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

.humor {
  font-family: "Space Grotesk";
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-60%, -50%);
}

.muzyczka {
  background-image: linear-gradient(
    to right,
    #3f51b1 0%,
    #5a55ae 13%,
    #7b5fac 25%,
    #8f6aae 38%,
    #a86aa4 50%,
    #cc6b8e 62%,
    #f18271 75%,
    #f3a469 87%,
    #f7c978 100%
  );
}

.muzyczka {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tworca {
  font-family: "Space Grotesk";
  margin: 0;
  position: absolute;
  top: 100%;
  transform: translateY(-100%);
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.zmiany a {
  font-family: "Space Grotesk";
  margin: 0;
  position: absolute;
  color: black;
  text-decoration: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.wroc {
  font-family: "Space Grotesk";
  margin: 0;
  position: absolute;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.szcze {
  text-align: center;
  font-family: "Space Grotesk";
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  margin: 0;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.list {
  text-align: center;
  font-family: "Space Grotesk";
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  margin: 0;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.lista {
  text-align: center;
  font-family: "Space Grotesk";
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  margin: 0;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.linki a {
  font-family: "Space Grotesk";
  margin: 0;
  position: absolute;
  top: 5%;
  transform: translate(-5%, -0.8%);
  color: black;
  text-decoration: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
}

.glowna a {
  font-family: "Space Grotesk";
  margin: 0;
  display: flex;
  position: absolute;
  color: black;
  text-decoration: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.listzmian a {
  font-family: "Space Grotesk";
  margin: 0;
  position: absolute;
  display: flex;
  color: black;
  top: 5%;
  text-decoration: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.fb {
  text-align: center;
  font-family: "Space Grotesk";
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  margin: 0;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-30%, -50%);
}

.github {
  text-align: center;
  font-family: "Space Grotesk";
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  margin: 0;
  position: absolute;
  top: 35%;
  left: 50.5%;
  transform: translate(-40%, -50%);
}

.instagram {
  text-align: center;
  font-family: "Space Grotesk";
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  margin: 0;
  position: absolute;
  top: 40%;
  left: 50.5%;
  transform: translate(-40%, -50%);
}
.czasomierz {
  text-align: center;
  font-family: "Space Grotesk";
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  margin: 0;
  position: absolute;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.info {
  display: flex;
  margin: 0;
  position: absolute;
  top: 44%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
